body {
  font-family: Arial, sans-serif;
  background-color: rgb(223, 199, 157);
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 110vh;
  
}
.header {
  background-color: rgb(223, 199, 157);
  color: #fff;
  padding: 20px;
  text-align: center;
}

form {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: rgb(247, 245, 242);
  border-radius: 8px;
  border: 1px solid rgb(255, 254, 253);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 8px;
  font-family: sans-serif;
  color: rgb(126, 99, 58);
}

input, textarea, select {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 15px;
  font-family: sans-serif;
  color: rgb(126, 99, 58);
  border: 1px solid rgb(223, 199, 157);
  background-color: rgb(247, 245, 242);
  box-sizing: border-box;
}

button {
  padding: .25rem 3rem;
  background-color: inherit;
  border: 1px solid rgb(126, 99, 58);
  border-radius: 20px;
  cursor: pointer;
  font-family: italic;
  font-size: 14px;
  font-weight: bold;
  color: rgb(126, 99, 58);
}

button:hover {
  border: 1px solid #73BEC8;
  cursor: pointer;
  color: #73BEC8;
}

.question-list {
  margin-top: 20px;
  text-align: left;
}

.question {
  margin-bottom: 20px;
  border: 1px solid rgb(126, 99, 58);
  border-radius: 8px;
  overflow: hidden;
  text-align: left;
  background-color: inherit;
  color: rgb(126, 99, 58);
  padding: 20px;
  box-sizing: border-box;
}


.options-container {
  display: flex;
  flex-direction: column;
  color: rgb(126, 99, 58);
}

.option-input {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  color: rgb(126, 99, 58);
}

.option-input input[type="checkbox"],
.option-input input[type="radio"] {
  margin-right: 10px;
  width: 18px;
  height: 18px;
}

.question-image {
  max-width: 300px;
  max-height: 150px;
  width: auto;
  height: auto;
  margin-bottom: 10px;
}

#quizNameInput {
  margin-bottom: 15px;
}
